:root {
	color-scheme: light dark;
	--card-infos-background-color: white;
	--card-projects-background-color: #F2F2F2;
	--bg-color: white;
	--main-color: black;
	--main-decoration-color: #D2D2D2;
	--card-shadow: #DADADA;
	--active-button-bg: #C0C0C0;
	--tooltip-color: #DADADA;
	--hr-color: #EDEDED;
	--backtotop-shadow: #DADADA;
	--backtotop-shadow-hover: #F4F4F4;
	--period: #999;
	--help-decoration-color: #777;
	--me-age-list-image: url('resources/lists/light_balloon.svg');
	--me-car-list-image: url('resources/lists/light_tyre.svg');
	--me-linkedin-list-image: url('resources/lists/light_linkedin.svg');
	--certificate-list-image: url('resources/lists/light_medal.svg');
	--cursus-list-image: url('resources/lists/light_cursus.svg');
	--git-list-image: url('resources/lists/light_git.svg');
	--fr-colour-image: url('resources/flags/light_fr_colour.svg');
	--fr-bw-image: url('resources/flags/light_fr_bw.svg');
	--en-bw-image: url('resources/flags/light_en_bw.svg');
	--en-colour-image: url('resources/flags/light_en_colour.svg');
}

@media (prefers-color-scheme: dark) {
	:root {
		--card-infos-background-color: #171717;
		--card-projects-background-color: #1B1A1A;
		--bg-color: #202020;
		--main-color: #BABABA;
		--main-decoration-color: #4D4D4D;
		--card-shadow: #333;
		--active-button-bg: #5C5C5C;
		--tooltip-color: #333;
		--hr-color: #37363B;
		--backtotop-shadow: #4B4B4B;
		--backtotop-shadow-hover: black;
		--period: #777;
		--help-decoration-color: #999;
		--me-age-list-image: url('resources/lists/dark_balloon.svg');
		--me-car-list-image: url('resources/lists/dark_tyre.svg');
		--me-linkedin-list-image: url('resources/lists/dark_linkedin.svg');
		--certificate-list-image: url('resources/lists/dark_medal.svg');
		--cursus-list-image: url('resources/lists/dark_cursus.svg');
		--git-list-image: url('resources/lists/dark_git.svg');
		--fr-colour-image: url('resources/flags/dark_fr_colour.svg');
		--fr-bw-image: url('resources/flags/dark_fr_bw.svg');
		--en-bw-image: url('resources/flags/dark_en_bw.svg');
		--en-colour-image: url('resources/flags/dark_en_colour.svg');
	}
}

html,
body {
	background-color: var(--bg-color) !important;
	font-family: Georgia !important;
}

#title {
	margin-top: 20px;
}

h1, h3 {
	display: inline;
	color: var(--main-color);
}

.row#flagsParent {
	display: inline-block;
}

#flags {
	margin-top: 20px;
	display: flex;
	height: 26.7px;
	float: right;
}

.flag1 {
	width: 40px;
	height: 26.7px;
	z-index: 1;
}

#flags * img {
	width: 40px;
	height: 26.7px;
}

.flag1.fr img {
	content: var(--fr-colour-image);
}

.flag1.en img {
	content: var(--en-colour-image);
}

.flag2 {
	width: 40px;
	height: 26.7px;
	z-index: 0;
	position: relative;
	left: -20px;
}

.flag2:hover {
	z-index: 2;
}

.flag2.fr img {
	content: var(--fr-bw-image);
}

.flag2.fr img:hover {
	content: var(--fr-colour-image);
}

.flag2.en img {
	content: var(--en-bw-image);
}

.flag2.en img:hover {
	content: var(--en-colour-image);
}

hr {
	width: 300px;
	border-color: var(--hr-color);
}

.projects,
.infos {
	padding-top: 15px;
	width: 100%;
}

.grid-container.infos {
	display: grid;
	/*grid-template-columns: auto auto auto auto;*/
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 150px;
	grid-row-gap: 25px;
}

.grid-container.infos .card {
	flex-direction: unset;
}

.grid-container.infos * .image.float-left {
	padding: 7px;
	padding-left: 15px;
	width: 100px;
	height: 100px;
}

.grid-container.infos * .content.float-left {
	padding: 7px 0;
	width: auto;
	height: 100px;
}

.grid-container.infos * .content.float-left ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	padding-top: 7px;
}

.grid-container.infos * .content.float-left ul li:before {
	content: '';
	height: 1em;
	width: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 1.5em;
}

.grid-container.infos * .content.float-left.me ul li.age:before {
	background-image: var(--me-age-list-image);
}

.grid-container.infos * .content.float-left.me ul li.car:before {
	background-image: var(--me-car-list-image);
}

.grid-container.infos * .content.float-left.me ul li.linkedin:before {
	background-image: var(--me-linkedin-list-image);
}

.grid-container.infos * .content.float-left.certificates ul li:before {
	background-image: var(--certificate-list-image);
}

.grid-container.infos * .content.float-left.cursus ul li:before {
	background-image: var(--cursus-list-image);
}

.grid-container.infos * .content.float-left.git ul li:before {
	background-image: var(--git-list-image);
}

.grid-container.infos * a {
	text-decoration: underline;
	text-decoration-color: var(--main-decoration-color);
	color: var(--main-color);
}

.grid-container.infos * a:hover,
.grid-container.infos * a:focus {
	text-decoration: underline;
	color: #2AB77E;
	text-decoration-color: #2AB77E;
	font-style: italic;
}

.grid-container.projects {
	display: grid;
	/* Force columns to have the same width */
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.row {
	width: 100%;
}

.card {
	border-color: transparent !important;
	box-shadow: 0px 0px 10px 2px var(--card-shadow);
	color: var(--main-color);
}

.card:hover {
	box-shadow: 0px 0px 10px 4px var(--card-shadow);
}

.card-link+.card-link {
	margin-left: 1rem;
}

.infos * .card {
	border-radius: 10px !important;
	background-color: var(--card-infos-background-color) !important;
}

.projects * .card {
	border-radius: 20px !important;
	background-color: var(--card-projects-background-color) !important;
	border-color: transparent !important;
	box-shadow: 0px 0px 10px 2px var(--card-shadow);
	color: var(--main-color);
}

.projects * .card:hover {
	box-shadow: 0px 0px 10px 5px var(--card-shadow);
}

.projects * .card.active {
	box-shadow: 0px 0px 10px 5px var(--card-shadow);
}

.projects * .card.active:hover {
	box-shadow: 0px 0px 10px 7px var(--card-shadow);
}

.projects * .card-title {
	font-weight: bold !important;
}

.projects * .card-subtitle.text-muted {
	font-style: italic !important;
	color: var(--main-color) !important;
}

.projects * .card-subtitle {
	font-size: .9rem;
}

.projects * .projectType {
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(10deg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.projects * .card-text {
	font-size: 0.9rem;
}

.projects * sup.period {
	color: var(--period);
}

.projects * .card-text.role {
	margin-top: 13px;
	margin-bottom: 7px;
}

.projects * .card-text .defTooltip {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--help-decoration-color);
}

.projects * .card-links {
	display: flex;
}

.projects * .card-links.noLink {
	justify-content: center;
}

.hidden {
	visibility: hidden;
}

.pjt,
.rpt,
.site {
	flex: 1;
}

.projects * .card-link {
	border: 2px var(--main-color) solid;
	border-radius: 20px;
	padding: 5px 15px;
	color: var(--main-color);
	font-size: .8rem;
}

.projects * span.card-link.pjt,
.projects * span.card-link.pjt:hover,
.projects * span.card-link.site,
.projects * span.card-link.site:hover {
	border-color: var(--active-button-bg);
	background-color: var(--active-button-bg);
	cursor: not-allowed;
	color: var(--main-color);
}

.projects * .card-link.more {
	border: 2px var(--main-color) solid;
	border-radius: 20px;
	padding: 2px 9px;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}

.projects * .card-link.active {
	background-color: var(--active-button-bg);
	color: var(--main-color);
}

.projects * .card-link:hover {
	background-color: var(--main-color);
	border-color: var(--main-color);
	color: var(--card-projects-background-color);
}

.projects * .card-link path,
.projects * .card-link rect,
.backToTop path,
.backToTop rect {
	fill: var(--main-color);
}

.projects * a.card-link:hover path,
.projects * a.card-link:hover rect {
	fill: var(--card-projects-background-color);
}

.projects * .card-link svg {
	vertical-align: top;
}

a.def {
	color: var(--main-color) !important;
}

a.def:hover {
	color: var(--main-color) !important;
	text-decoration: none;
	font-style: italic;
}

.tooltip-inner {
	font-family: Georgia;
	background-color: var(--tooltip-color);
	color: var(--main-color);
	border-radius: 1rem;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: var(--tooltip-color);
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
	border-top-color: var(--tooltip-color);
}

.backToTop {
	padding: 5px 17px 8px 17px;
	background-color: var(--card-infos-background-color);
	box-shadow: 0px 0px 10px 3px var(--backtotop-shadow);
	border-radius: 5px;
	position: fixed;
	bottom: 50px;
	right: 30px;
	display: none;
}

.backToTop:hover {
	box-shadow: 0px 0px 10px 3px var(--backtotop-shadow-hover);
}

.backToTop:hover path,
.backToTop:hover rect {
	fill: #2AB77E;
}

.humans {
	margin-top: 30px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
	.grid-container.infos {
		grid-column-gap: 60px;
	}

	.grid-container.projects {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 100px;
		grid-row-gap: 70px;
	}
}

@media only screen and (max-width: 992px) {
	.container {
		max-width: 90%;
	}

	.row {
		width: unset;
	}

	.row#flagsParent {
		width: 100%;
	}

	#flags {
		float: unset;
		justify-content: center;
		height: 33.4px;
	}

	#flags * img,
	.flag1,
	.flag2 {
		width: 50px;
		height: 33.4px;
	}

	.grid-container.infos {
		grid-column-gap: 20px;
	}

	.grid-container.projects {
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}
}

@media only screen and (max-width: 833px) {
	.grid-container.infos {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 20px;
	}

	.grid-container.projects {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 40px;
	}
}

@media only screen and (max-width: 413px) {
	.grid-container.infos * li,
	.grid-container.infos * a {
		font-size: .9rem;
	}

	.projects * .card-link {
		padding: 5px 10px;
	}
}

@media only screen and (max-width: 374px) {
	.card-link+.card-link {
		margin-left: 0;
	}
}
