# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
# RewriteBase /

RewriteEngine   On                  # Turn on the rewriting engine
RewriteRule     ^En/?$               indexEn.html                   [NC,L]
RewriteRule     ^Fr/?$               index.html                     [NC,L]
RewriteRule     ^About/?$            pages/about.html               [NC,L]
RewriteRule     ^APropos/?$          pages/aPropos.html             [NC,L]
RewriteRule     ^Projects/?$         pages/projects.html            [NC,L]
RewriteRule     ^Projets/?$          pages/projets.html             [NC,L]
RewriteRule     ^Knowledge/?$        pages/knowledge.html           [NC,L]
RewriteRule     ^Connaissances/?$    pages/connaissances.html       [NC,L]
RewriteRule     ^ContactDetails/?$   pages/contactDetails.html      [NC,L]
RewriteRule     ^Coordonnees/?$      pages/coordonnees.html         [NC,L]

FallbackResource index.html
