/* Social */

.social * a,
#linkedin,
#mail
	font-weight: 500

a#bitbucket
	color : $bitbucket

a#github
	color : $github

a#gitlab
	color: #E45432

a#linkedin
	color : $linkedin

a#mail
	color : $mail
	text-align : center

a#bitbucket:hover,
a#bitbucket:focus,
a#github:hover,
a#github:focus,
a#gitlab:hover,
a#gitlab:focus,
a#linkedin:hover,
a#linkedin:focus,
a#mail:hover,
a#mail:focus
	color : $activeGreen
	text-decoration : none
