@import colors

@import FiraCode

$defaultBg: url('../resources/bgs/default.png')
$defaultHome: url('../resources/bgs/home.jpg')
$defaultProjects: url('../resources/bgs/projects.jpg')
$darkBg: url('../resources/bgs/dark.png')
$darkHome: url('../resources/bgs/dark-home.jpg')
$darkProjects: url('../resources/bgs/dark-projects.jpg')

body, html, main
	/* important */
	height: 100%
	width: 100%
	min-width: 320px
	margin: 0 !important
	padding: 0

*
	box-sizing: border-box

body
	color : $defaultTextColor !important
	font-family : 'Fira Code', sans-serif !important
	background-attachment : fixed
	background-color : $defaultBackgroundColor !important
	background-image : $defaultBg

@import header

@import nav

@import main

@import mediaQueries
