body {
    color                  : #2E2E2F;
    font-family            : 'Fira Code', sans-serif !important;
    background-attachment  : fixed;
    background-color       : #ECECEC !important;
    background-image       : url('../resources/background.png');
}


/* HEADER */

header {
    position               : fixed;
        top                : 0;
        left               : 0;
    height                 : 77px;
}

header, footer {
    width                  : 100%;
    z-index                : 4;
}

h1 {
    padding-top            : 20px;
}

h1 a,
h1 a:hover,
h1 a:focus {
    text-decoration        : none;
    color                  : inherit;
    font-weight            : bold;
}

span.bold {
    font-weight            : bolder;
}

.thin {
    font-weight            : 300;
}

.smaller {
    font-weight            : 400;
    font-size              : 30px;
}

.blinking-cursor {
    -webkit-animation      : 1s blink step-end infinite;
    animation              : 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color              : transparent;
    }
    50% {
        color              : #2AB77E;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color              : transparent;
    }
    50% {
        color              : #2AB77E;
    }
}


/* NAV */

nav {
	 margin-top            : 80px;
}

.icon {
    margin-right           : 10px;
}

a.nav-link {
    color                  : #2E2E2F;
}

a.nav-link i.fa {
    color                  : #DE5833;
}

a.nav-link.active {
    color                  : #DE5833;
}

a.nav-link.active i.fa {
    color                  : #2E2E2F;
}


/* MAIN */

main {
    margin-top             : 30px;
    margin-bottom          : 20px;
}

main.home,
main.contact {
    margin-top             : 90px;
}

a img {
    /* For IE */
    border                 : none;
    outline                : none;
}

.home * p .badge {
    font-size              : 1rem;
    font-weight            : 400;
}

h3 {
    font-weight            : 400;
}

.green, a,
.displayItem,
.hideItem {
    color                  : #2AB77E;
}

div.welcomeImage {
    margin-bottom          : -25px;
}

div.linkBox {
    padding                : 15px 20px;
    background-color       : #E7E7E7;
    border-radius          : 10px;
    z-index                : 3;
    margin-top: 25px;
    margin-bottom          : 25px;
    border                 : 0.1px solid #9A9A9A;
    -webkit-box-shadow     : 1px 1px;
            box-shadow     : 1px 1px;
}

div.linkBox h5 {
    margin                 : 0;
    margin-bottom          : 5px;
    font-weight            : bold;
}

div.linkBox h6 {
    margin                 : 0;
}

div.left,
div.right {
    display                : inline;
    float                  : left;
}

div.left {
    padding-top            : 5px;
    width                  : 30%;
}

div.right {
    width                  : 70%;
    font-weight            : 600;
}

.previews h3 {
    color                  : #FD8002;
    font-size              : 24px;
    margin-top             : 10px;
    margin-bottom          : 10px
}

.previews p {
    color                  : #2E2E2F;
    text-align             : justify;
    font-size              : 14px;
}

.previews h2,
.knowledge h3 {
    color                  : #0056D6;
    margin-top             : 10px;
}

.previews > .row > .col-10 {
    font-family            : '-apple-system', 'Ubuntu';
    padding-left           : 0 !important;
    padding-right          : 0 !important;
}

span.cross {
    text-decoration        : line-through;
}

#status {
    margin-top             : -38px;
    font-size              : 20px;
    z-index                : -1;
}

span.centerLink {
    display                : block;
    text-align             : center;
}

span.displayItem,
span.hideItem {
    display                : table;
    margin                 : 0 auto;
}

.displayItem:hover,
.hideItem:hover,
.displayItem:focus,
.hideItem:focus {
    text-decoration        : underline;
    cursor                 : pointer;
}

div.hiddenItem {
    display                : none;
}

#progressbars div.left.pBar {
    margin-right           : 10%;
}

#progressbars .pBar {
    float                  : left;
    width                  : 45%;
    padding-top            : 1vh;
    font-weight            : 600;
}

#progressbars .clear {
    clear                  : both;
    width                  : 0;
    border                 : 0;
}

.fa-star {
    color                  : #FFFD00;
    text-shadow            : 0 0 8px #000;
}

span.tab {
    margin-left            : 86px;
}

span.link {
    font-weight            : normal;
    font-style             : italic;
}

.centering {
    text-align             : center;
}

.center {
    display                : table;
    margin                 : 0 auto;
}

span#pseudo {
    font-family            : Monaco, Menlo, Consolas, Calibri, Arial, sans-serif;
    font-style             : italic;
    color                  : #0056D6;
}

div#humans {
    float                  : right;
}

div#humans a {
    position               : relative;
        top                : -25px;
        right              : 25px;
}

.back-to-top {
    position               : fixed;
        bottom             : 50px;
        right              : 30px;
    display                : none;
}

.changeLang {
    position               : fixed;
        bottom             : 50px;
        left               : 30px;
    color                  : #FD8002;
}

.back-to-top,
.changeLang {
    background-color       : #7E7E7E;
    background-color       : rgba(130, 130, 130, 0.26);
    border-radius          : 20px;
    padding                : 7px 13px;
}

.back-to-top:hover,
.back-to-top:focus,
.changeLang:hover,
.changeLang:focus {
    background-color       : #3A3A3A;
    background-color       : rgba(58, 58, 58, 0.26);
}

.changeLang:hover,
.changeLang:focus {
    color                  : #DE5833;
}


/* Lists */

div.right ul,
.knowledge ul,
.social ul {
    list-style             : none;
    margin-left            : 0;
    padding-left           : 0;
}

.knowledge li .lang {
    color                  : #FD8002;
    font-weight            : bolder;
}

.knowledge ul {
    font-weight            : 600;
}

ul.yearList li:before,
.knowledge ul li:before,
.social ul li:before {
    padding-right          : 5px;
}

ul.yearList li:before,
.knowledge ul li:before,
.social ul li:before {
    content                : "◉";
    font-family            : Arial, sans-serif;
}

ul.yearList li:before {
    color                  : #0056D6;
}

.knowledge ul.lang li:before {
    color                  : #FD8002;
}

ul.yearList li li,
.knowledge ul li li {
    text-indent            : 1.3em;
}

ul.yearList li li:before,
.knowledge ul li li:before {
    content                : "◎";
    font-family            : Arial, sans-serif;
}

ul.yearList li li:before {
    color                  : #FD8002;
}

.knowledge ul.lang li li:before {
    color                  : #2E2E2F;
}

ul.yearList {
    display                : table;
    letter-spacing         : 1px;
    line-height            : 25px;
}

ul.yearList .year1 {
    font-weight            : bolder;
    color                  : #0056D6;
}

ul.yearList .year2 {
    font-weight            : bolder;
    color                  : #FD8002;
}

ul.yearList .it {
    font-style             : italic;
}

.social * li {
    padding-bottom         : 8px;
    padding-top            : 7px;
}


/* Links */

a:focus, a:hover,
.displayItem:hover,
.hideItem:hover,
.displayItem:focus,
.hideItem:focus {
    color                  : #2C966B;
}

a.rMore {
    font-weight            : bold;
}

a.ext {
    color                  : #6E9D8A;
}

a.ext:focus,
a.ext:hover {
    color                  : #348162;
}

a.disabled {
    display                : inline-block;
    /* For IE11 and Edge… */
    pointer-events         : none;
    cursor                 : not-allowed;
    color                  : #D80B04;
}

i.soc {
    vertical-align         : text-top;
}


/* Social */

a#bitbucket {
    color                  : #1F5081;
}

a#bitbucket:hover,
a#bitbucket:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}

a#github {
    color                  : #EF2328;
}

a#github:hover,
a#github:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}

a#facebook {
    color                  : #395998;
}

a#facebook:hover,
a#facebook:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}

a#linkedin {
    color                  : #4B74A0;
}

a#linkedin:hover,
a#linkedin:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}

a#twitter {
    color                  : #55ACEE;
}

a#twitter:hover,
a#twitter:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}

a#mail {
    color                  : #FFA701;
    text-align             : center;
}

a#mail:hover,
a#mail:focus {
    color                  : #2E2E2F;
    text-decoration        : none;
}


/* LaTeX */

.latex sub,
.latex sup {
    text-transform         : uppercase;
}

.latex sub {
    vertical-align         : 0.09em;
    margin-left            : -0.1667em;
    margin-right           : -0.125em;
}

.latex,
.latex sub {
    font-size              : 0.95em;
    font-family            : serif;
}

.latex sup {
    font-size              : 0.85em;
    vertical-align         : -0.37em;
    margin-left            : -0.36em;
    margin-right           : -0.15em;
}



@media only screen and (max-width: 994px) {
	header .container,
    nav .container,
    main .container {
		max-width              : 750px;
		padding-right          : 15px;
		padding-left           : 15px;
		margin-right           : auto;
		margin-left            : auto;
	}
}


@media only screen and (max-width: 767px) {
    /* HEADER */
    header {
        height                 : auto;
    }
    h1 {
        text-align             : center;
    }

    /* MAIN */
    #status {
        margin-top             : 0px;
        font-size              : inherit;
    }
    div.welcomeImage {
        margin-top             : 25px;
    }
    div.left {
        width                  : 100%;
    }
    div.right {
        padding-top            : 20px;
        width                  : 100%;
    }
    div.linkBox img {
        display                : block;
        margin                 : 0 auto;
    }
    div.right ul {
        text-align             : center;
    }
    div.right ul.yearList,
    div.right ul.yearList ul,
    div.right.social ul {
        text-align         : left;
    }
    div.linkBox .social img {
        display                : inline;
        margin                 : 0;
    }
    span.tab {
        margin-left            : 86px;
    }
    div#humans {
        float                  : inherit;
        text-align             : center;
    }
    div#humans a {
        position               : inherit;
    }

    a#mail {
        font-size              : 1rem
    }
}


/* NavBar Responsive Start */

@media only screen and (max-width: 737px) {
    /* NAV */

    nav.contactEn {
        margin-top             : 120px;
    }
}

@media only screen and (max-width: 719px) {
    /* NAV */

    nav.knowFr {
        margin-top             : 120px;
    }
}

@media only screen and (max-width: 683px) {
    /* NAV */

    nav.contactFr {
        margin-top             : 120px;
    }
}

@media only screen and (max-width: 629px) {
    /* NAV */

    nav.knowEn {
        margin-top             : 120px;
    }
}

@media only screen and (max-width: 611px) {
    /* NAV */

    nav.projects {
        margin-top             : 120px;
    }
}

/* NavBar Responsive End */


@media only screen and (max-width: 578px) {
	/* NAV */

	nav {
		margin-top             : 135px;
	}

	nav.home {
		margin-top             : 80px;
	}

	/* MAIN */

	main {
	    margin-top             : 30px;
	    margin-bottom          : 20px;
	}

	main.home,
    main.contact {
        margin-top             : 40px;
	}

    a#mail {
        font-size              : 0.9rem
    }
}
